@tailwind base;
@tailwind components;
@tailwind utilities;


body{

    background-color: #F8F7FC;

}

html, body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* dark version for map */
@media (prefers-color-scheme: dark) {
    .leaflet-tile-pane {
        filter: hue-rotate(180deg) invert(1) grayscale(85%);
    }
}
